<h1>CANNON</h1>
<p></p>
<% if user_signed_in? %>
  <li>
  <% @posts.each do |post| %>
<%= div_for post do %>
<%= post.content %>
<% end %>
<% end %>

  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>